.container-perfil{
    margin: 0 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pi{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bod{
    margin-bottom: 40px;
}